

.verde {
    color: darkgreen;
}

.verde:hover {
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    -webkit-transform: translateY(-2px) scale(1.01);
    -moz-transform: translateY(-2px) scale(1.01);
    -ms-transform: translateY(-2px) scale(1.01);
    -o-transform: translateY(-2px) scale(1.01);
}

.rojo {
    color:darkred;
}

.rojo:hover {
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    -webkit-transform: translateY(-2px) scale(1.01);
    -moz-transform: translateY(-2px) scale(1.01);
    -ms-transform: translateY(-2px) scale(1.01);
    -o-transform: translateY(-2px) scale(1.01);
}

.boton {
    color: white;
    font-weight: bold;
}